modules = ["python-3.12", "bash"]
run = "./montaje.sh"

[nix]
channel = "stable-24_05"
packages = ["docker", "run", "systemd", "redis", "htop-vim"]

[deployment]
run = ["sh", "-c", "./montaje.sh"]

[[ports]]
localPort = 6379
externalPort = 80
